.container {
    padding: 2rem;
    background-color:#f8fafc;
    border-radius:1rem;
}

.title {
    font-size:2rem;
    color:#0f172a;
    font-weight: 800;
}

.text {
    font-size:1rem;
    color:chocolate;
}